@page "/logout"
@using HR.LeaveManagement.BlazorUI.Contracts;
@inject IAuthenticationService authenticationService
@inject NavigationManager navigationManager
<h3>Logout</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await authenticationService.Logout();
        navigationManager.NavigateTo("/");
    }

}
